<div class="chats-item">
  <div>
    <img src="{{avatar}}" alt={{alt}} class="chats-item__avatar" />
  </div>
  <div class="chats-item__message-container">
    <p class="chats-item__sender">{{sender}}</p>
    <p class="chats-item__text">{{message}}</p>
  </div>
  <div class="chats-item__time-unread-container">
    <span class="chats-item__time">{{time}}</span>
    <span class="chats-item__undread">{{unread}}</span>
  </div>
</div>
